.primary {
  background-color: var(--bg-color-primary-button);
}
.success {
  background-color: var(--bg-color-save-button);
}
.danger {
  background-color: var(--bg-color-delete-button);
}
.warning {
  background-color: var(--bg-color-edit-button);
}
.secondary {
  background-color: var(--bg-color-secondery-button);
}
button {
  font-size: 1rem;
  margin: 0.5rem;
  min-width: 100px;
  color: var(--text-color-primary);
  border-radius: 5px;
  padding: .3rem 0;
  border: 1px solid var(--text-color-primary);
}
