button {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    border-radius: 4px;
    width: 90px;
    height: 40px;
}
.typePrimary {
    background-color: #0275D8;
}
.typeSecondary {
    background-color: #fff;
}
.typeEdit {
    background-color: #F0AD4E;
}
.typeDelete {
    background-color: #D9534F;
}
.typeSave {
    background-color: #28A745;
}