.pageTitle {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1rem;
    display: flex;
    align-items: center;
}

.tableTitle {
    height: 2.5rem;
    font-weight: 500;
}

.header {
    margin: 1rem auto;
    width: 50.6rem;
    display: flex;
    justify-content: space-between;
}

.buttonBack {
    font-size: 0.73rem;
    height: 2rem;
    width: 5.5rem;
    border-radius: 0.2rem;
    background-color: var(--secondary);
}

.buttonBack:hover {
    cursor: pointer;
}