.header {
  background-color: var(--bg-color-header);
}
a {
  text-decoration: none;
  color: var(--header-text-color);
}
.logo {
  padding: 1rem;
}
a:hover {
  color: var(--color-active-link);
}
.selected {
  color: var(--color-active-link);
}
.settings {
  fill: white;
  margin-right: 1rem;
  transition: var(--transition);
}
.settings:hover {
  cursor: pointer;
  fill: var(--color-active-link);
}
.navMenu {
  display: flex;
  padding: 0 1rem;
}

.navMenu > li {
  padding: 0 0.5rem;
}

@media (max-width: 576px) {
  .navMenu {
    font-size: 1.5rem;
    flex-direction: column;
    text-align: center;
  }
  .navMenu > li {
    padding: 0.5rem;
  }
  .navBtn {
    order: -2;
  }
  .user {
    order: -1;
  }
  .logo {
    display: none;
  }
}
@media (max-width: 992px) {
  .user button {
    min-width: 35px;
  }
}
