.header {
  background-color: var(--bg-color-header);
}
/* .contentWrapper {
  max-width: var(--width-content);
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
  position: relative;
} */
a {
  text-decoration: none;
  color: var(--header-text-color);
}
.logo {
  padding: 1rem;
}
a:hover {
  color: var(--color-active-link);
}
/* .headerNav {
  display: flex;
} */
/* .navItem:nth-child(1) {
  padding-left: 3rem;
}
.navItem {
  padding: 0 1rem;
} */
.selected {
  color: var(--color-active-link);
}
.settings {
  fill: white;
  margin-right: 1rem;
  transition: var(--transition);
}
.settings:hover {
  cursor: pointer;
  fill: var(--color-active-link);
}
/* .leftContent {
  display: flex;
  align-items: center;
}
.rightContent {
  display: flex;
  align-items: center;
} */
@media (max-width: 768px) {
  .logo {
    display: none;
  }
}

@media (max-width: 768px) {
  .user {
    position: absolute;
    right: 0;
    top: 0.5rem;
  }
}