.header {
  background-color: var(--bg-color-header);
}
.contentWrapper {
  max-width: var(--width-content);
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
  position: relative;
}
a {
  text-decoration: none;
  color: var(--color-primary);
}
.logo {
  padding: 1rem;
}
a:hover {
  color: var(--color-active-link);
}
.headerNav {
  display: flex;
}
.navItem:nth-child(1) {
  padding-left: 3rem;
}
.navItem {
  padding-left: 1rem;
}
.selected {
  color: var(--color-active-link);
}
.settings {
  fill: white;
  margin-right: 1rem;
  transition: var(--transition);
}
.settings:hover {
  cursor: pointer;
  fill: var(--color-active-link);
}
.leftContent {
  display: flex;
  align-items: center;
}
.rightContent {
  display: flex;
  align-items: center;
}
