.mainTitle {
  font-size: 2rem;
  text-align: center;
  padding: 1rem 0.5rem;
  margin-top: 1rem;
}

.title {
  text-align: center;
  padding: 1rem 0.5rem;
}

.bgTitle {
  padding: 0.5rem;
  color: var(--header-text-color);
  background-color: var(--bg-color-header);
}

.topic {
  padding: 1rem;
}

.topicTitle {
  text-align: center;
  padding: 1rem 0.5rem;
  text-decoration: underline;
}

.techContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.list {
  padding-left: 1rem;
}

.list > li {
  list-style-type: square;
}

.admin {
  background-color: var(--bg-color-primary-button);
  padding-right: 0.3rem;
  padding-left: 0.3rem;
}
.mentor {
  background-color: var(--bg-color-edit-button);
  padding-right: 0.3rem;
  padding-left: 0.3rem;
}
.user {
  background-color: var(--bg-color-delete-button);
  padding-right: 0.3rem;
  padding-left: 0.3rem;
}

.access {
  background-color: var(--bg-color-save-button);
  padding-right: 0.3rem;
  padding-left: 0.3rem;
}

.presentation {
  background-color: var(--color-active-link);
  color: var(--header-text-color);
  padding: 1rem;
}
.presentation:hover {
  color: var(--bg-color-delete-button);
}

.presentationWrapper {
  text-align: left;
  padding: 2rem;
}
