.section__fields {
  display: grid;
  grid-template: repeat(8, minmax(100px, auto)) / minmax(200px, auto) minmax(200px, auto);
  grid-auto-flow: column;
  grid-gap: 0.5rem;
}

.section__buttons {
  display: flex;
  justify-content: center;
}
