.buttonGroup{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.3rem;
}


.userTasks td {
    height: 3.6rem;
}

.userTasks th:nth-child(1) {
    width: 6.5rem;
}

.userTasks th:nth-child(2) {
    width: 17rem;
}

.userTasks th:nth-child(3) {
    width: 6.5rem;
}

.userTasks th:nth-child(4) {
    width: 6.5rem;
}

.userTasks th:nth-child(5) {
    width: 6.6rem;
}

.userTasks th:nth-child(6) {
    width: 10.75rem;
}

.userTasks td:nth-child(2){
    padding-left: 0.8rem;
    text-align: left;
}