.table a {
  color: var(--text-color-primary);
  text-decoration: underline;
}
td:last-of-type{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  max-width: 200px;
}
td:last-of-type button{
  max-width: 100px;
}