/* .table {
  background-color: var(--bg-color-primary);
} */
.table a {
  color: var(--text-color-primary);
  text-decoration: underline;
}
.table {
  color: var(--text-color-primary);
}
.table > tbody > tr > td {
  color: var(--text-color-primary) !important;
}
td:last-of-type {
  display: grid;
  grid-template: auto auto / auto auto;
}

td:last-of-type button {
  margin: 0.2rem;
  max-width: 100px;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}
