.table a {
  color: var(--text-color-primary);
  text-decoration: underline;
}
.table {
  color: var(--text-color-primary);
  text-align: center;
}
.table > :not(caption) > * > * {
  border-bottom-width: 0px !important;
}
td:last-of-type {
  display: flex;
  justify-content: center;
}

td:last-of-type button {
  margin: 0.2rem;
  max-width: 100px;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}
@media (max-width: 768px) {
  td:last-of-type button {
    /* font-size: 0px; */
    min-width: 35px;
  }
}
@media (max-width: 576px) {
  td:nth-of-type(1) {
    display: none;
  }
  th:nth-of-type(1) {
    display: none;
  }
}
