.table a {
  color: var(--text-color-primary);
  text-decoration: underline;
}
td:last-of-type {
  display: grid;
  grid-template: auto auto / auto auto;
}

td:last-of-type button {
  margin: 0.2rem;
  max-width: 100px;
}

.link {
  color: var(--text-color-primary);
  text-decoration: underline;
  cursor: pointer;
}