@import-normalize;
:root {
    --primary: #0275D8;
    --warning: #F0AD4E;
    --error: #D9534F;
    --secondary: #F2F2F2;
    --gray: #E5E5E5;
    --success: #28A745;
}

html {
    font-size: 20px;
}

a {
    text-decoration: none;
}


table {
    margin: 0 auto;
    border: 1px solid;
    border-collapse: collapse;
}

td {
    box-sizing: border-box;
    border: 1px solid;
}

th {
    background-color: var(--gray);
    box-sizing: border-box;
    border: 1px solid;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
