@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100;300;500;700&display=swap');

:root {
  --bg-color-primary-button: #0275d8;
  --bg-color-secondery-button: #fff;
  --bg-color-edit-button: #f0ad4e;
  --bg-color-delete-button: #d9534f;
  --bg-color-save-button: #28a745;
  --color-primary: #fff;
  --color-active-link: #2666cf;
  --color-error: red;
  --color-modal: rgba(0, 0, 0, 0.4);

  --text-color-primary: #000;

  --bg-color-primary: #fff;
  --bg-color-secondery: #f5f2e7;
  --bg-color-header: #24292f;

  --width-content: 800px;

  --fw-thin: 100;
  --fw-light: 300;
  --fw-medium: 500;
  --fw-bold: 700;

  --transition: 0.3s all;
}

[data-theme='dark'] {
  --bg-color-primary: #0d1117;
  --bg-color-header: #161b22;
  --text-color-primary: #fff;

  --bg-color-primary-button: #4b515c;
  --bg-color-edit-button: #b17cf6;
  --bg-color-delete-button: #f76867;
  --bg-color-save-button: #09b43a;
  --bg-color-secondery-button: #272b33;

}
[data-theme='dark-dimmed'] {
  --bg-color-primary: #22272e;
  --bg-color-header: #2d333b;
  --text-color-primary: #adadb7;

  --bg-color-primary-button: #373e47;
  --bg-color-edit-button: #b17cf6;
  --bg-color-delete-button: #f76867;
  --bg-color-save-button: #347d39;
  --bg-color-secondery-button: #272b33;
}
* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
#root {
  font-family: 'Roboto Serif', sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  max-width: var(--width-content);
  margin: 0 auto;
}
