@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100;300;500;700&display=swap');

:root {
  --bg-color-primary-button: #0275d8;
  --bg-color-secondery-button: #fff;
  --bg-color-edit-button: #f0ad4e;
  --bg-color-delete-button: #d9534f;
  --bg-color-save-button: #28a745;
  --color-primary: #fff;
  --color-active-link: #2666cf;
  --color-error: red;
  --color-modal: rgba(0, 0, 0, 0.4);

  --text-color-primary: #000;
  --header-text-color: #fff;

  --bg-color-primary: #fff;
  --bg-color-secondery: #f5f2e7;
  --bg-color-header: #24292f;
  --border-button-color: #000;

  --width-content: 1140px;

  --fw-thin: 100;
  --fw-light: 300;
  --fw-medium: 500;
  --fw-bold: 700;

  --transition: 0.3s all;
  --hover-brightness: 1.2;
}

[data-theme='dark'] {
  --bg-color-primary: #322f20;
  --bg-color-header: #23231a;
  --text-color-primary: #fffbe7;
  --header-text-color: #fffbe7;

  --bg-color-primary-button: #6a5837;
  --bg-color-edit-button: #988f2a;
  --bg-color-delete-button: #992b3d;
  --bg-color-save-button: #2b996f;
  --bg-color-secondery-button: #6b6438;
  --border-button-color: #6a5837;

  --color-active-link: #cc4b00;
}
[data-theme='dark-dimmed'] {
  --bg-color-primary: #496a81;
  --bg-color-header: #2b3a67;
  --text-color-primary: #ffffff;

  --bg-color-primary-button: #66999b;
  --bg-color-edit-button: #b3af8f;
  --bg-color-delete-button: #ff7070;
  --bg-color-save-button: #70ffa9;
  --bg-color-secondery-button: #272b33;
  --border-button-color: #2b3a67;

  --color-active-link: #2666cf;
}
* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
#root {
  font-family: 'Roboto Serif', sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  max-width: var(--width-content);
  margin: 0 auto;
}

@media (max-width: 71.25rem) {
  main {
    max-width: 800px;
  }
}
